@if (variant === 'plain') {
  <input
    class="input rut-input-field"
    type="text"
    inputmode="numeric"
    [placeholder]="placeholder"
    [value]="displayValue"
    (input)="onInput($any($event).target.value)"
    (blur)="onBlur()"
    [disabled]="disabled"
    autocomplete="off"
  />
} @else {
  <mat-form-field>
    <mat-label>RUT</mat-label>
    <input
      matInput
      [placeholder]="placeholder"
      [value]="displayValue"
      (input)="onInput($any($event).target.value)"
      (blur)="onBlur()"
      [disabled]="disabled"
      autocomplete="off"
    />
    <mat-error *ngIf="rutError">{{ rutError }}</mat-error>
  </mat-form-field>
}
