<h2 mat-dialog-title>Cambiar Estado</h2>
<mat-dialog-content>
  <mat-card class="form-card">
    <form [formGroup]="form">
      <div class="status-selector-row">
        <span class="selector-label">Seleccionar:</span>
        <mat-form-field appearance="outline" class="status-select">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="Pendiente">Pendiente</mat-option>
            <mat-option value="En Revisión">En Revisión</mat-option>
            <mat-option value="Espera Resolución">Espera Resolución</mat-option>
            <mat-option value="Finalizado">Finalizado</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('status')?.invalid">Debes seleccionar un estado</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="comment-field">
        <mat-label>Comentario:</mat-label>
        <textarea matInput id="input-comment" formControlName="comment"></textarea>
        <mat-error *ngIf="form.get('comment')?.invalid">{{obtenerMensajeError(form.get('comment')!)}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="button" (click)="changeStatus()">
    Aplicar<mat-icon>edit</mat-icon>
  </button>
  <button mat-raised-button class="cancel-btn" type="button" mat-dialog-close aria-label="Cerrar">
    Cerrar<mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
