<h2 mat-dialog-title>
  Órdenes de {{client.name | name}}
</h2>
<mat-dialog-content>
  <!-- Header Cliente -->
  <mat-card class="client-info-card">
    <div class="client-info-row">
      <span>N°: <b>{{client.id}}</b></span>
      <span>Cliente: <b>{{client.name | name}}</b></span>
      <span>Dirección: <b>{{(client.address | name)+', '+(client.city | name)}}</b></span>
    </div>
  </mat-card>

  <!-- Tabla Atenciones/Ordenes -->
  <div class="div-table">
    <mat-card class="table-card">
      <table mat-table [dataSource]="dataSource">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="col-id-header">
            <span>N°</span><br><span>Aviso</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="col-status-header">Estado</th>
          <td mat-cell *matCellDef="let element"> {{element.status | name}} </td>
        </ng-container>
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="col-date-header">Fecha</th>
          <td mat-cell *matCellDef="let element">
            <div class="text-center">
              <span>{{element.date | date:'dd-MM-yyyy'}}</span><br>
              <span>{{element.date | date:'hh:mm'}}</span>
            </div>
          </td>
        </ng-container>
        <!-- comment Column -->
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef class="col-comment-header">Comentario</th>
          <td mat-cell *matCellDef="let element"> {{element.comment | name}} </td>
        </ng-container>
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="col-description-header">Descripción</th>
          <td mat-cell *matCellDef="let element"> {{element.description | name}} </td>
        </ng-container>
        <!-- obs Column -->
        <ng-container matColumnDef="obs">
          <th mat-header-cell *matHeaderCellDef class="col-obs-header">Observaciones</th>
          <td mat-cell *matCellDef="let element"> {{element.observation | name}} </td>
        </ng-container>
        <!-- change status Column -->
        <ng-container matColumnDef="changeStatus">
          <th mat-header-cell *matHeaderCellDef class="col-change-header">Cambiar Estado</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <mat-icon class="icon-order icon-edit"
              matTooltip="Editar Estado"
              matTooltipPosition="above"
              role="button" tabindex="0"
              (click)="openStatusModal(element)"
              (keydown.enter)="openStatusModal(element)"
              (keydown.space)="openStatusModal(element)"
              aria-label="Editar estado">edit</mat-icon>
          </td>
        </ng-container>
        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="col-actions-header">Descargar</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <mat-icon class="icon-pdf"
              role="button" tabindex="0"
              (click)="descargarPDF(element)"
              (keydown.enter)="descargarPDF(element)"
              (keydown.space)="descargarPDF(element)"
              aria-label="Descargar PDF">picture_as_pdf</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr class="tr-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Sin coincidencias</td>
        </tr>
      </table>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close color="primary" aria-label="Cerrar">Cerrar</button>
</mat-dialog-actions>
<app-pdf class="hidden-pdf" [ordenIngreso]="ordenIngreso"></app-pdf>