<h2 mat-dialog-title>
  <span>{{ 'client.delete.title' | t }}</span>
  <button class="dlg-close" (click)="close()" [attr.aria-label]="'common.close' | t">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content>
  <div class="delete-confirm">
    <mat-icon class="warn-icon" fontIcon="delete_forever" aria-hidden="true"></mat-icon>
    <p>{{ 'client.delete.confirmPrefix' | t }}<b>{{ client.name }}</b>{{ 'client.delete.confirmMiddle' | t }}<b>{{ 'client.delete.confirmRecords' | t }}</b>?</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button class="btn btn-ghost" type="button" (click)="close()">{{ 'common.cancel' | t }}</button>
  <button class="btn btn-danger" type="button" (click)="deleteClient()">
    <mat-icon fontIcon="delete"></mat-icon> {{ 'common.delete' | t }}
  </button>
</mat-dialog-actions>
