<div id="pdf-page" class="hidden">
    <br><br><br>
    <div class="pdf-title">
        <img class="logo-img" src="/assets/img/logo-300x80.png" alt=""><br><br>
        <span class="pdf-address">
            Av. Demo #1234 · Santiago
        </span><br>
        <span class="pdf-address">
            {{ 'sharedModal.pdf.phoneLine' | t }}
        </span><br>
        <span class="pdf-address">
            Administracion@demo.example - demo.example
        </span>
    </div>
    <br><br>
    <div class="row pdf-section">
        <div class="contenedor">
            <div class="left">
                <span>{{ 'sharedModal.pdf.no' | t }}</span><br>
                <span>{{ 'sharedModal.pdf.clientLabel' | t }}</span><br>
                <span>RUT</span><br>
                <span>{{ 'sharedModal.pdf.addressLabel' | t }}</span><br>
                <span>{{ 'sharedModal.pdf.cityLabel' | t }}</span><br>
                <span>{{ 'sharedModal.pdf.phoneLabel' | t }}</span><br>
                <span>{{ 'sharedModal.pdf.noticeLabel' | t }}</span><br>
                <span>{{ 'sharedModal.pdf.dateLabel' | t }}</span><br>
            </div>
            <div class="right">
                <span class="text">{{ordenIngreso.clientId}}</span><br>
                <span class="text font-bold">{{ordenIngreso.name | name}}</span><br>
                <span class="text">{{ordenIngreso.rut | rut}}</span><br>
                <span class="text">{{ordenIngreso.address | name}}</span><br>
                <span class="text">{{ordenIngreso.city | name}}</span><br>
                <span class="text">{{ordenIngreso.phone }}</span><br>
                <span class="text">{{ordenIngreso.code }}</span><br>
                <span class="text">{{ordenIngreso.date | date : 'dd-MM-yyyy   hh:mm'}}</span><br>
            </div>
            <div class="end">
                <img class="mt-10 qr-img" [src]="ordenIngreso.qr" [alt]="'sharedModal.pdf.qrAlt' | t">
            </div>
        </div><br><br><br>
        <div class="contenedor-0 pdf-section-title">
            <span>{{ 'sharedModal.pdf.problem' | t }}</span>
        </div>
        <div class="contenedor text-left">
            <span class="font-bold"> {{ 'sharedModal.pdf.description' | t }}</span>
        </div>
        <div class="contenedor-2 text-left pb-42">
            <span>{{ordenIngreso.description | name}}</span>
        </div>
        <div class="contenedor text-left">
            <span class="font-bold">{{ 'sharedModal.pdf.observations' | t }}</span>
        </div>
        <div class="contenedor-4 text-left pb-42">
            <span>{{ordenIngreso.observation | name}}</span>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-10 offset-1 terms-text">
            <span class="font-bold">{{ 'sharedModal.pdf.conditions' | t }}</span><br>
            <span>{{ 'sharedModal.pdf.term1' | t }}</span><br>
            <span>{{ 'sharedModal.pdf.term2' | t }}</span><br>
            <span>{{ 'sharedModal.pdf.term3' | t }}</span><br>
            <span>{{ 'sharedModal.pdf.term4a' | t }}</span><br>
            <span class="pl-16">{{ 'sharedModal.pdf.term4b' | t }}</span><br>
            <span>{{ 'sharedModal.pdf.term5a' | t }}</span><br>
            <span class="pl-16">{{ 'sharedModal.pdf.term5b' | t }}</span><br><br>
            <span>{{ 'sharedModal.pdf.term6' | t }}</span><br>
            <span class="pl-16">{{ 'sharedModal.pdf.accountHolder' | t }}</span><br>
            <span class="pl-16">Rut: 76.512.345-3</span><br>
            <span class="pl-16">{{ 'sharedModal.pdf.bankAccount' | t }}</span><br>
            <span class="pl-16">{{ 'sharedModal.pdf.emailCopy' | t }}</span><br>
        </div>
        <div class="col-6 offset-3 signature-box">
            <div class="signature-line">
                <span class="signature-text">{{ 'sharedModal.pdf.clientApproval' | t }}</span>
            </div>
        </div>
    </div>
</div>