<div class="bodega-tabs" role="tablist" [attr.aria-label]="'bodega.sectionsLabel' | t">
  <a
    class="bodega-tab"
    routerLink="inventario"
    routerLinkActive="active"
    role="tab"
    aria-selected="true"
  >
    <mat-icon fontIcon="inventory_2"></mat-icon> {{ 'bodega.inventory' | t }}
  </a>
  <a
    class="bodega-tab"
    routerLink="reposiciones"
    routerLinkActive="active"
    role="tab"
    aria-selected="false"
  >
    <mat-icon fontIcon="add_box"></mat-icon> {{ 'bodega.restocks' | t }}
  </a>
  <a
    class="bodega-tab"
    routerLink="repuestos"
    routerLinkActive="active"
    role="tab"
    aria-selected="false"
  >
    <mat-icon fontIcon="engineering"></mat-icon> {{ 'bodega.spareParts' | t }}
  </a>
</div>

<div class="bodega-content">
  <router-outlet></router-outlet>
</div>