<h2 mat-dialog-title>Editar Producto</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form-register">
    <!-- Nombre del Producto -->
    <mat-form-field>
      <mat-label>Nombre de Producto</mat-label>
      <input matInput placeholder="Ej: Cocina a Gas" formControlName="name" required>
    </mat-form-field>

    <!-- Selector para añadir o descontar -->
    <div class="flex-center-row">
      <mat-form-field class="flex-1">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" placeholder="Cantidad" formControlName="quantity" required>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Precio de Costo</mat-label>
      <input matInput type="number" placeholder="Precio de Costo" formControlName="costPrice" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio de Venta</mat-label>
      <input matInput type="number" placeholder="Precio de Venta" formControlName="sellingPrice" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descuento Máximo</mat-label>
      <input matInput type="number" placeholder="Descuento Máximo" formControlName="maxDiscount" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Localización</mat-label>
      <input matInput placeholder="Ubicación en bodega" formControlName="location">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>

    <!-- Campo de Imagen y Vista Previa -->
    <label for="image-upload" class="image-upload-label">Imagen</label>
    <input id="image-upload" type="file" (change)="onFileSelected($event)" />
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Vista previa de imagen" class="product-image-preview">
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button color="primary" (click)="saveChanges()">Actualizar</button>
</mat-dialog-actions>
